{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content  %}
  <!-- Pre-loader -->
  <div class="preloader">
     <div class="status">&nbsp;</div>
  </div>

 <section class="home bg-dark-2" style="height:700px;">
    <div class="navbar navbar-custom" role="navigation">
      <div class="container">
        <!-- Navbar-header -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="ion-navicon"></i>
          </button>
          <!-- LOGO -->
          <a class="navbar-brand logo" href="#">
            <i class="fa fa-hand-paper-o"></i>
              <span>Handycrafts</span>
          </a>
        </div>
        <!-- end navbar-header -->

        <!-- menu -->
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{% url 'account:artisan_register' %}">Register</a>
            </li>
            <li>
                <!--TODO-->
              <a href="#">Login</a>
            </li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown">
                Pages
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu arrow">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Faq</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!--/Menu -->
      </div>
      <!-- end container -->
    </div>
    <!-- End navbar -->

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="home-wrapper">
            <h1 class="animated fadeInDown wow" data-wow-delay=".1s">Handycrafts</h1>
            <h4 class="animated fadeInDown wow" data-wow-delay=".2s">Bringing experienced artistry to you...</h4>
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                    <form class="form-inline" action="{% url 'account:search' %}" method="get">
                       <div class="input-group">
                           {% render_field search_form.find class+="form-control input-box" placeholder="search" required="required" %}
                        </div>
                        <button type="submit" class="btn btn-custom btn-subscribe">Search</button>
                        
                    </form>
                    
                   
            
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- END HOME -->s




  <!-- FEATURES-1 -->
  <section class="section" id="features">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="feature-1">
            <img src="{% static "css/images/features-1.png" %}" class="img-responsive" alt="features-img">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="feature-detail">
            <h1 class="title animated fadeInRight wow" data-wow-delay=".1s">Find Artisans</h1>
            <h4 class="animated fadeInRight wow" data-wow-delay=".3s">Find Artisans</h4>
            <p class="features-txt animated fadeInRight wow" data-wow-delay=".5s">Find passionate and creative artisans who care about quality and craftsmanship.</p>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <!-- END FEATURES-1 -->


  <!-- FEATURES-2 -->
  <section class="section padding-t-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="feature-detail">
            <h1 class="title animated fadeInLeft wow" data-wow-delay=".1s">Market Place</h1>
            <h4 class="animated fadeInLeft wow" data-wow-delay=".3s">Market Place</h4>
            <p class="features-txt animated fadeInLeft wow" data-wow-delay=".5s">A community of skilled artisans</p>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="feature-1">
            <img src="{% static "css/images/features-2.png" %}" class="img-responsive" alt="features-img">
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- END FEATURES-2 -->

<section class="section reg-teaser">

    <div class="container">
        <div class="row">
        
            <h1 class="teaser-font animated fadeInUp wow">Getting connected with an employer is as easy as...</h1>
        
            <p class="mono-font css-typing animated fadeInUp wow"> REG NAME VOCATION STATE LGA</p>
            
        </div>
    </div>
    
      
</section>

  
  <!-- FOOTER CTA -->
  <section class="section bg-dark footer-cta">
    <div class="container">
      <div class="row text-center">
         <div class="col-sm-10 col-sm-offset-1">
          <h4 class="text-uppercase animated fadeInDown wow" data-wow-delay=".1s">Still not convinced?</h4>
          <h1 class="animated fadeInDown wow" data-wow-delay=".3s">We are always here to answer your cute questions.</h1>
          <a href="subscribe.html" class="btn btn-custom btn-rnd animated fadeInDown wow" data-wow-delay=".5s">Contact Us</a>
         </div>
      </div>
    </div>
  </section>

  <!-- END FOOTER CTA -->
{% endblock %}